/*--------------------------------------------------\
| studio        |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| FrontAccounting   								|
| http://FrontAccounting.com/  	            		|
| by Joe Hunt FrontAccounting, LLC                  |
|---------------------------------------------------|
| Developer:                                        |
| Joe Hunt    Nov 24 2009                                      |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout FrontAccounting.             |
|                                                   |
\--------------------------------------------------*/

body {
	background: #f7f0e3 url(images/bg.jpg) repeat-x;
	font: 70%/1.6em Verdana, Tahoma, Arial, Geneva, sans-serif;
	color: #666; 
	margin: 0 0 50px 0;
	padding: 0;
}

/* headers */
h1, h2, h3, .titletext {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	color: #444;
}
h1 {
	font-size: 230%;	
	font-weight: normal;
	letter-spacing: -1px;
}
h2, .titletext {
	font-size: 180%;
	color: #88ac0b;
}
h3 {
	font-size: 150%;	
	font-weight: normal;	
}

h1, h2, h3, p, .titletext {
	padding: 10px;		
	margin: 0;
}

.titletext {
    font-size: 150%;
	border-bottom: 1px solid #88ac0b;
}

hr {
	background: #ccc;
	border: 0;
	color: #ccc;
	height: 1px;
}

tr, td, th {
	font-family: Verdana, sans-serif;
	font-size: 96%;
	line-height: 17px;
	color: #333;
}

table {
	text-align: left;
}

textarea {
	color:#777;
}

input, select
{
	font-size: 100%;
	padding: 1px;
}

select {
    max-width: 200px;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.amount {
	font-size: 100%;
	text-align: right;
}

input.amount {
	padding-right: 0px;
	margin-right: 0px;
}

a, a:visited {	
	color: #5A93C9;
	background: inherit;
	text-decoration: none;	
}
a:hover {
	color: #88ac0b;
	background: inherit;
	text-decoration: underline;	
}

.clear {
	clear: both;
}
.nodisp {
	display: none;
}
.italic {
	font-style: italic;
}
.flleft {
	float: left;
}
.flright {
	float: right;
}

#wrap {
	background: #fff;
	width: 95%;
	padding: 0;
	margin: 5px auto 0 auto;
}

#header {
	background: #f6efbb;
	border-top: 2px solid #eae0ad;
	width: 100%;
	margin: 0 auto;
}
#header h2 #logo-text a {
	margin: 0; padding: 0;
	font: normal 42px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1.5px;
	color: #111;
	text-transform: none;
	text-decoration: none;
	padding: 15px 0 0 15px;	
}
#header p#slogan {
	margin: 0; padding: 0;
	font: normal 12px Georgia, "Times New Roman", Times, serif;
	text-transform: none;
	color: #5b4a29;
	padding: 0 0 5px 25px;	
}

/* header links */
#header #header-links {
	float: right;
	padding: 15px 15px 0 0;
	color: #5b4a29;
	font: normal 11px Georgia, "Times New Roman", Times, serif;
	text-transform: none;		
}
#header #header-links a {	
	color: #5b4a29;
	text-decoration: none;	
	padding: 0 2px;
	font-weight: bold;
}
#header #header-links a:hover {
	color: #111;		
}

/* Navigation */
#_tabs {
	float:left;
	width:100%;
	background:#f6efbb;
	font-size:95%;
	line-height:normal;
	}

#_tabs ul {
	font-weight: bold;
	margin:0;
	padding:10px 10px 0 10px;
	list-style:none;
	}

#_tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#_tabs a {
	float:left;
	background:url("images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#_tabs a span {
	float:left;
	display:block;
	background:url("images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#464e42;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#_tabs a span {float:none;}

/* End IE5-Mac hack */
#_tabs a:hover span, #_tabs li.current span {
	color:#fff;
	}

#_tabs a:hover, #_tabs li.current a {
	background-position:0% -42px;
	}

#_tabs a:hover span, #_tabs li.current span {
	background-position:100% -42px;
	}  

#menu2{
clear: both;
padding: 0;
width: 100%;
height: 24px;
border-top: 1px solid #ececec; /*Brown color theme*/ 
background-color: #b58845;
}

#menu2 ul{
margin:0;
padding: 0 0 0 10px;
list-style: none;
}

#menu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
}

#menu2 a{
float: left;
display: block;
font: normal 1em Verdana, sans-serif;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
border-right: 1px solid #ececec;
padding: 5px 10px;
background-color: #b58845; /*blue color theme*/ 
}

#menu2 a:hover{
background-color: black; /*Brown color theme*/ 
color: white;
}

#content-wrap {
	background: #fff url(images/content-bg.jpg) repeat-x;
	clear: both;
	float: left;	
	width: 100%;
	text-align: center;
	margin: 0;	
	display: inline;
	border-top: 1px solid #fff;
}

/* bottom */
.footer td a { 
  color: #666666; 
  font-size: 9px; 
} 
.footer { 
  font-family: Verdana, Arial, Helvetica; 
  color: #cccccc; 
  font-weight: normal; 
  font-size: 9px; 
  text-align: center; 
  width: 100%; 
} 

#footer-bottom {
	clear: both;
	color: #666;	
	margin: 0 auto; 
	width: 100%;
	padding: 10px 0 10px 0;
	text-align: center;	
	border-top: 1px solid #eae0ad;
}
#footer-bottom  a {
	color: #976834;
}
#footer-bottom span {
	font-size: 90%;
	padding-left: 30px;
}

.menu_group {
	font-size: 102%;
	font-weight: bold;
	padding: 0 25px 0 25px;
}

.menu_group_items {
	font-size: 102%;
	background-color: #f9f9f9;
	font-weight: normal;
	padding: 9px 9px 9px 20px;
	border: 1px solid #e5e5e5;
}

.menu_group_items a {
	font-size: 102%;
	color: #864f26;
	text-decoration: none;
}

.tableheader {
	font-weight: bold;
	background: #b58845;
	color: #fff;
	text-align: center;
}

.tableheader2 {
	font-weight: bold;
	background: #b58845;
	color: #fff;
	text-align: left;
}

.tableseparator {
	border-left: 1px solid #ccc;
}

.headingtext {
	color: #976834;  
	margin: 0;
	padding: 0 10px; 
	font-weight: bold;
}

.headingtext2 {
	font-size: 12px;
	color: black;
}

.headingtext3 {
	font-weight: bold;
	font-size: 10px;
	color: black;
}

.errortext {
	font-size: 12px;
	color: #ff0000;
	font-weight: bold;
}

.inputsubmit {
	font: bold 11px Arial, Sans-serif; 
	height: 20px;
	margin: 2px;
	padding: 1px 2px; 
	color: #464e42;
	background: #b6df9f;
	border: 1px solid #88AD0C;
}

.ajaxsubmit {
	font: bold 11px Arial, Sans-serif; 
	height: 20px;
	margin: 2px;
	padding: 1px 2px; 
	color: #464e42;
	background: #b6df9f;
	border: 1px solid #88AD0C;
}

.oddrow {
	background: #efefef;		
}

.evenrow {
	background: #f8f8f8;
}

.overduebg {
	background-color: #fca164;
}

.overduefg {
	color: #fca164;
}

.currentfg {
	color: #f66;
}

.redfg, a.redfg {
	color: red;
	font-weight: bold;
}

.settledbg {
	background-color: #0b0;
}

.settledfg {
	color: #0b0;
}

.inquirybg {
	background-color: #fdfeef;
}

.currencybg {
	background-color: #e88;
}

.stockmankobg {
	background-color: pink;
}

table.tablestyle {
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
}
table.tablestyle td {
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
}
table.tablestyle2 {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle2 td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle_inner {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
table.tablestyle_inner td {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
.tablestyle_noborder {
	padding: 3px;
}

.label {
	background-color: #b6df9f;
	color: black;
}

#loginscreen {
	background: #f5f5f5;
}

.login {
	width: 350px;
	border-left: 12px solid #367cb5;
	border-collapse: collapse;
	background-color: #eeeeee;
}
.login td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

.editbutton {
   	color:#00f;
   	background-color:transparent;
   	border-style:none;
   	text-decoration:none;
   	padding: 0;
   	margin: 0;
   	cursor: pointer;
}

.navibutton[disabled] {
  	color:#ccc;
 	text-decoration:none;
  	cursor: auto;
}

button.navibutton {
	font: normal 1em Verdana, sans-serif;
	font-weight: bold;
   	color:#fff;
   	padding: 0 3px;
	background-color: transparent;
   	border-style:none;
   	cursor: pointer;
}

.navibutton span {
   	text-decoration:underline;
}

.navibar {
	padding: 0 3px;
    color: #fff;
    border: 1px solid #99ae07;
    border-collapse: collapse;
	background: #b58845;
}

.navibar tr td {
    border: none;
}
.listsubmit {
    display: none;
}

.inactive {
	color: gray;
}

button {
	font: normal 1em Verdana, sans-serif;
	border: 1px #0066cc solid;
	padding: 1px 0px;
}

button img, span {
	padding: 0px 2px ;
	vertical-align: middle;
}

ul.ajaxtabs{
	padding: 3px 0 0 0;
	margin: 3px 3px 0 3px;
	font: 12px Tahoma,Verdana;
	font-weight: bold;
}

ul.ajaxtabs li{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.ajaxtabs li button{
    background-color: #dee7ec;
	background-position: top; 
	padding: 3px 8px;
	margin: 0px;
	border-top: 1px solid #8cacbb;
	border-right: 1px solid #8cacbb;
	border-bottom: none;
	border-left: none;
	font-weight: bold;
}

ul.ajaxtabs li button:hover{
	border-top: 1px solid #8cacbb;
	color:#FFFFFF;
}
div.spaceBox{
	background-color: #8cacbb;
	height:8px;
	border-bottom: 1px solid #8cacbb;
	border-left: 1px solid #8cacbb;
	border-right:1px solid #8cacbb;
	margin: 0 3px 0px 3px
}

div.contentBox{
	border: 1px solid #8cacbb;
	margin: 0 3px 3px 3px
}

ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover{
	border-left: 1px solid #8cacbb;
	background-color: #8cacbb;
	color:#fff;
}
#hints {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #8cacbb;
  margin: -4px -2px -2px;
  border: 1px solid #8cacbb;
  background-color: #ffffe0;
  white-space: nowrap;
}

img { border: 0; }

/*
	Calendar style
*/
#CCIframe {
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 250px;
	width: 270px;
	z-index: 99;
}
#CC { 
	position:absolute;
	background-color:#fff;
	margin:0; padding:0;
	display:none;
	z-index: 100;
}
#CC table { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
	border-left: 1px solid #336;
	border-right: 1px solid #336;
}
#CC th {
	font-weight: normal;
	text-align: center;
}
#CC th a {
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	padding: 1px;
}
#CC td {
	text-align: center;
}
#CC .header {
	background-color: #92ce6f;
}
#CC .weekday {
	background-color: #f4eddd;
	color: #000;
}
#CC .weekend {
	background-color: #ffc;
	color: #000;
}
#CC .weekno {
	background-color: #dfdfdf;
	color: #555;
}
#CC .current {
	border: 1px solid #339;
	background-color: #92ce6f;
	color: #FFF;
}
#CC .weekday, #CC .weekend, #CC .current {
	display: block;
	text-decoration: none;
	border: 1px solid #fff;
	width: 2em;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	color: #fff;
	background-color: #92ce6f;
	border: 1px solid #999;
}
#CC .previous {
	text-align: left;
}
#CC .next {
	text-align: right;
}
#CC .previous, #CC .next {
	padding: 1px 3px 1px 3px;
	font-size: 1.4em;
}
#CC .previous a, #CC .next a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#CC .title {
	text-align: center;
	font-weight: bold; 
	color: #fff;
}
#CC .empty {
	background-color: #f3f3f3;
	border: 1px solid #fff;
}
div.err_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #fbc2c4;
	background-color: #fbe3e4;
	color: #8a1f11;
	text-align: center;
}

div.warn_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #ffd324;
	background-color: #fff6bf;
	color: #514721;
	text-align: center;
}

div.note_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #c6d800;
	background-color: #e6efc2;
	color: #264409;
	text-align: center;
}

#title {
	margin-bottom: 10px;
	width: 100%;
}
