html {
	background-color:#e5dfd2; background-image:url(images/bg.jpg);}
body {
	font-family: Trebuchet MS,Helvetica,tahoma,verdana,sans-serif; 
	font-size: 11px; 
	height:auto;
	margin:0 auto; 
	padding-left:0px; 
	padding-right:0px; 
	/*width:990px;*/
	width: 80%;
	-moz-box-shadow: 0px 0px 51px #000000;
-webkit-box-shadow: 0px 0px 51px #000000;
box-shadow: 0px 0px 51px #000000; 
	
	 
/*	background: #dedede;
	
	margin: 5px 0 0 5px;
	padding: 0;*/
}

tr, td, th {
	font-size: 11px;
}

table {
	text-align: left;
}

textarea {
	font-size: 12px;
}

input, select {
	font-size: 11px;
	border: 1px solid #CCCCCC; 
	padding:4px;
}

select {
    width:auto;
}

option.inactive {
	text-decoration: line-through;
	color: gray;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

a {
	color: #0bb3f1;
	font-size: 11px;
	text-decoration: none;
}
.hdrlogo{ float:left; padding-top:5px; padding-left:6px; display:block;}
/*.logoout{ float:right; margin-top:-149px; } Changed by Joe */
.logoout{ float:right; margin-top:-80px; } 
.logoout a, .logoout a:visited, .logoout a:active, .logoout a:link  { 
display:inline-block; 
	-webkit-transition: .3s linear; 
-moz-transition: .2s linear; 
-o-transition: .2s linear; 
-ms-transition: .2s linear; 
transition: .2s linear; 
background:#0bb3f1; 
color:#FFF;
padding:8px 10px;}

.logoout a:hover{ 
background:#afafaf; 
text-decoration:none;
color:#FFF;
}
a:link {
	color: #0bb3f1;
	text-decoration: none; 
	font-family:Verdana, Geneva, sans-serif; 
	
}

a:active {
	color: #000000;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0bb3f1;
	text-decoration: underline;
}

.inactive {
text-align:left; 
margin:0 auto;
background:url(images/right.png) ; 
background-position: 0 5px; 
background-repeat:no-repeat;
padding:7px 0 6px 29px;
color:#ccc; 
text-decoration:none;
font-size:12px; 
display:inline-block; 
background-color:#f7f7f7; 
width:93%; 
border: 1px dotted #FFF;
}

button {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 0px;
}

button img {
	padding: 0px 2px ;
	vertical-align: middle;
}

.callout_main {
	font-family: Verdana, Arial, Helvetica;
	border: none; 
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.callout_main tbody{
	padding:8px;}
.main_page {
	background-color: #f9f9f9;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.quick_menu { 
border-top:6px solid #afafaf;
	margin: 0;
	padding: 0;
	/*text-align: right;*/
}

.quick_menu_selected {
	font-family: Verdana, Arial, Helvetica;
	font-size: 13px;
	border: none;
	white-space: nowrap;
	margin: 2px;
	padding: 2px;
	color: #00cc00;
	font-weight: bolder;
}

.logoutBar {
	background: #0bb3f1;
	color: #FFF;
	border-bottom: 1px solid #aea594;
	width: 100%; 
	font-weight:lighter; 
	padding-top:9px;
}

.bottomBar {
	background: #072246; 
	margin:0 auto; 
	color: #FFF;
	margin-top:5px; 
	padding:4px; 
	width:100%
}

.bottomBarCell {
	font-size: 10px;
	line-height: 12px;
}

.bottomBar2 {
	background: none repeat scroll 0 0 #072246;
    color: #FFFFFF;
    margin: 5px auto 0;
    padding: 4px;
    width: 100%;
}

.logoutBarRight {
	text-align: right;
}

div.logoutBar {
	padding-right: 1em;
	background: #dedede;
	color: black;
	border-bottom: 1px solid #aea594;
	text-align: right;
}
div.logoutBar a {
	font-weight: normal;
	margin-left: 1em;
	color: #436976;
	background-color: transparent;
}
div.logoutBar img {
	vertical-align: top;
}

div.tabs { 

	border-bottom: 0px solid #aea594; 
	padding-top:8px; 
	background-color:#0bb3f1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0485f3), to(#0bb3f1));
  /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #0485f3, #0bb3f1);
  /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #0485f3, #0bb3f1);
  /* IE 10 */
    background: -ms-linear-gradient(top, #0485f3, #0bb3f1);
  /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0485f3, #0bb3f1); 

}
div.tabs a {
	border-bottom:1px #FFF solid; 
	padding:8px 8px;
	font-weight: normal;
	background: white scroll repeat 0% 0%;
	color: #666;
	margin-right: 2px;
	height: 10px; 
	 
	
}
div.tabs a.selected {
	border-bottom:1px #0bb3f1 solid; 
	font-weight: normal;
	background: #0bb3f1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0485f3), to(#0bb3f1));
  /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #0485f3, #0bb3f1);
  /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #0485f3, #0bb3f1);
  /* IE 10 */
    background: -ms-linear-gradient(top, #0485f3, #0bb3f1);
  /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0485f3, #0bb3f1);  
	color: #FFF;
}
div.tabs a.selected:hover { 

	border-bottom:1px #0bb3f1 solid; 
		background: #0bb3f1;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0485f3), to(#0bb3f1));
  /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #0485f3, #0bb3f1);
  /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #0485f3, #0bb3f1);
  /* IE 10 */
    background: -ms-linear-gradient(top, #0485f3, #0bb3f1);
  /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0485f3, #0bb3f1); 
 }
div.tabs a:hover {
	background: #AFAFAF; 
	color:#FFF; 

/*	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AFAFAF), to(#FFF));

    background: -webkit-linear-gradient(top, #AFAFAF, #FFF);

    background: -moz-linear-gradient(top, #AFAFAF, #FFF);

    background: -ms-linear-gradient(top, #AFAFAF, #FFF);

    background: -o-linear-gradient(top, #AFAFAF, #FFF); */
	border-bottom:1px #AFAFAF solid; 
	text-decoration:none;
}

.menu_group {
	background-color:#ccc;
	color: #072246;
	padding-left: 3px; 
	padding-right:3px; 
	letter-spacing:0.01em;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 18px;
}

.menu_group_items {
	background-color: #f9f9f9;
	font-weight: normal;
	padding: 2px;
	border: 1px solid #072246;
} 
.menu_group_items img{ 
display:none; 
visibility:hidden;
}
.menu_group_items a { 
-webkit-transition: .3s linear; 
-moz-transition: .3s linear; 
-o-transition: .3s linear; 
-ms-transition: .3s linear; 
transition: .3s linear;
text-align:left; 
margin:0 auto;
background:url(images/right.png) ; 
background-position: 0 5px; 
background-repeat:no-repeat;
padding:7px 0 6px 29px;
color:#666; 
text-decoration:none;
font-size:12px; 
display:inline-block; 
background-color:#f9f9f9;
width:93%; 
border: 1px dotted #f9f9f9;
}
.menu_group_items a:hover { 
color:#666; 
background-color:#d2f3ff;
}



#hotkeyshelp {
	text-align: right;
	font-weight: bolder;
}

#footer {
	position: relative; 
	border-top:6px solid #0bb3f1;
	bottom: -6px; 
	margin:0 auto; 
	background-color:rgba(0,0,0,0.65); 
	width:100%; 
	padding:25px; 
	vertical-align:bottom;
}

.footer td a {
	color: #666666;
	font-size: 9px;
}

.footer {
	font-family: Verdana, Arial, Helvetica;
	color: #cccccc;
	font-weight: normal;
	font-size: 12px; 
	text-align:left;
	width: 100%;
}
.footer a {
	color: #cccccc;
	font-weight: normal;
	font-size: 12px;
	text-align:left;
	width: 100%;
}

.tableheader {
	font-weight: bold;
	background-color: #dedede;
	color: black;
	text-align: center;
}

.tableheader2 {
	font-weight: bold;
	background-color: #dedede;
	color: black;
	text-align: left;
}

.titletext {
	font-weight: bold;
	font-size: 13px;
	border-bottom: 6px solid #afafaf;
	padding: 5px; 
	margin-top:-20px; 
	width:100%;
}

.headingtext {
	font-weight: bold;
	font-size: 13px;
	color: black;
}

.headingtext2 {
	font-size: 13px;
	color: black;
}

.headingtext3 { 
padding-top:5px; 
padding-left:5px;
}

.errortext {
	font-size: 13px;
	color: #ff0000;
	font-weight: bold;
}

.inputsubmit {
font-size: 11px;
	border: 1px solid #0bb3f1; 
	background-color:#0bb3f1; 
	color:#FFF;
	padding: 4px ; 
	min-width:108px;
}
.inputsubmit:hover {
	font-size: 11px;
	border: 1px solid #fff; 
	background-color:#afafaf; 
	color:#fff;
	padding: 4px;
}

.ajaxsubmit {
	font-size: 11px;
	border: 1px solid #0bb3f1; 
	background-color:#0bb3f1; 
	color:#FFF; 
	min-width:108px;
	padding: 4px; 
-webkit-transition: .3s linear; 
-moz-transition: .2s linear; 
-o-transition: .2s linear; 
-ms-transition: .2s linear; 
transition: .2s linear;
}

.ajaxsubmit:hover {

	border: 1px solid #afafaf; 
	background-color:#afafaf; 

}

.oddrow {
	background-color: #eeeeee;
}

.evenrow {
	background-color: #dddddd;
}

.overduebg {
	background-color: #dd7777;
}

.overduefg {
	color: #dd7777;
}

.currentfg {
	color: #ff6666;
}

.redfg, a.redfg {
	color: red;
	font-weight: bold;
}

.settledbg {
	background-color: #00bb00;
}

.settledfg {
	color: #00bb00;
}

.inquirybg {
	background-color: #fdfeef;
}

.currencybg {
	background-color: #ee8888;
}

.stockmankobg {
	background-color: pink;
}

.stockmankofg {
	color: red;
}

table.tablestyle {
	border-collapse: collapse;
	border: 1px solid #aea594;
}
table.tablestyle td {
	border-collapse: collapse;
	border: 1px solid #aea594;
}
table.tablestyle2 {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle2 td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle_inner {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
table.tablestyle_inner td {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
.tablestyle_noborder {
	padding: 3px;
}

.label {
	color: black;
}
#logz{
	padding-top:10px;} 

#loginscreen {
	/*background: #f5f5f5; */
	background-image:url(images/ie3bg.png); 
	background-position:center; 
	background-repeat:no-repeat;
}

.loginz{
	-moz-border-radius:25px;-webkit-border-radius:25px;  border-radius:25px;
	background-color: rgba(238, 238, 238, 0.85); 
	-moz-box-shadow:    inset 0 0 10px #AEA594;
    -webkit-box-shadow: inset 0 0 10px #AEA594;
    box-shadow:         inset 0 0 10px #AEA594; 
	-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-o-transition: .3s linear;
-ms-transition: .3s linear;
transition: .3s linear;
	width:350px; 
	margin: 0 auto;
	}
	
.loginz:hover{
	background-color: rgba(238, 238, 238, 0.95); 
	}
.login {
	width: 235px;
	border-collapse: collapse; 
	border:0px solid #FFF; 

}
.login td {
	border-collapse: collapse; 
	border: 0px solid #cccccc;
}

.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	text-align: right;
}

input.amount {
	padding-right: 0px;
	border: 1px solid #CCCCCC; 
	padding:4px; 
	width:auto;
}

.editbutton {
   color:#0000FF;
   background-color:transparent;
   border-style:none;
   text-decoration:underline;
   cursor: pointer;
}

.navibutton[disabled], .navibutton[disabled] span {
  color:#808080;
  text-decoration: none;
  cursor: auto;
}

button.navibutton {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
   color:#000;
   padding: 0 3px;
   background-color:transparent;
   border-style:none;
   cursor: pointer;
}

.navibutton span {
	text-decoration: underline;
}	

.navibar {
    padding: 0 3px;
	color: #000;
    border-collapse: collapse;
    background-color: #dedede;
}

.navibar tr td {
    border: none;
}

.listsubmit {
    display: none;
}

ul.ajaxtabs{
	padding: 3px 0 0 0;
	margin: 3px 3px 0 3px;
	font: 12px Tahoma,Verdana;
	font-weight: bold;
}

ul.ajaxtabs li{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.ajaxtabs li button{
    background-color: #dedede;
/*	background-repeat: repeat-x;
	background-position: top; */
	padding: 3px 8px;
	margin: 0px;
	border-top: 1px solid #aea594;
	border-right: 1px solid #aea594;
	border-bottom: none;
	border-left: none;
	font-weight: bold;
}

ul.ajaxtabs li button:hover{
	border-top: 1px solid #aea594;
	color:#FFFFFF;
}
div.spaceBox{
	background-color: #aea594;
	height:8px;
	border-bottom: 1px solid #aea594;
	border-left: 1px solid #aea594;
	border-right:1px solid #aea594;
	margin: 0 3px 0px 3px
}

div.contentBox{
	border: 1px solid #aea594;
	margin: 0 3px 3px 3px
}

ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover{
	border-left: 1px solid #aea594;
	background-color: #aea594;
	color:#FFFFFF;
}
#hints {
	font-size: 13px;
	padding: 5px;
	border-bottom: 1px solid #aea594;
	margin: -4px -2px -2px;
	border: 1px solid #aea594;
	background-color: #FFFFE0;
	white-space: nowrap;
}
/*
	Calendar style
*/
#CCIframe {
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 250px;
	width: 270px;
	z-index: 99;
}
#CC { 
	position:absolute;
	background-color:#FFF;
	margin:0; padding:0;
	display:none;
	z-index: 100;
}
#CC table { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
	border-left: 1px solid #336;
	border-right: 1px solid #336;
}
#CC th {
	font-weight: normal;
	text-align: center;
}
#CC th a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	padding: 1px;
}
#CC td {
	text-align: center;
}
#CC .header {
	background-color: #0bb3f1;
}
#CC .weekday {
	background-color: #eee;
	color: #000;
}
#CC .weekend {
	background-color: #FFC;
	color: #000;
}
#CC .weekno {
	background-color: #c0daf8;
	color: #555;
}
#CC .current {
	border: 1px solid #339;
	background-color: #0bb3f1;
	color: #FFF;
}
#CC .weekday, #CC .weekend, #CC .current {
	display: block;
	text-decoration: none;
	border: 1px solid #FFF;
	width: 2em;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	color: #FFF;
	background-color: #0bb3f1;
	border: 1px solid #999;
}
#CC .previous {
	text-align: left;
}
#CC .next {
	text-align: right;
}
#CC .previous, #CC .next {
	padding: 1px 3px 1px 3px;
	font-size: 1.4em;
}
#CC .previous a, #CC .next a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
#CC .title {
	text-align: center;
	font-weight: bold; 
	color: #FFF;
}
#CC .empty {
	background-color: #ddd;
	border: 1px solid #FFF;
}

div.err_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #cc3300;
	background-color: #ffcccc;
	color: #dd2200;
	text-align: center;
}

div.warn_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #ff9900;
	background-color: #ffff00;
	color: #ff5500;
	text-align: center;
}

div.note_msg {
	margin: 10px; 
	padding: 3px;
	border: 1px solid #33cc00;
	background-color: #ccffcc;
	color: #007700;
	text-align: center;
}

#title {
	margin-bottom: 10px;
	width: 100%;
}
#logzIn{ 
border: 0 solid #F2F2F2; 
-moz-border-radius:20px;-webkit-border-radius:20px;  border-radius:20px;
	background-color: rgba(238, 238, 238, 0.85); 
	-moz-box-shadow:    inset 0 0 40px #7fd7f7;
    -webkit-box-shadow: inset 0 0 40px #7fd7f7;
    box-shadow:         inset 0 0 40px #7fd7f7; 
	-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-o-transition: .3s linear;
-ms-transition: .3s linear;
transition: .3s linear; }
	#logzIn:hover{ 
border: 0 solid #F2F2F2; 
-moz-border-radius:20px;-webkit-border-radius:20px;  border-radius:20px;
	background-color: rgba(250, 250, 250, 0.85); 
	-moz-box-shadow:    inset 0 0 20px #7fd7f7;
    -webkit-box-shadow: inset 0 0 20px #7fd7f7;
    box-shadow:         inset 0 0 20px #7fd7f7; }
#wrongz{ 
	-moz-border-radius:25px;-webkit-border-radius:25px;  border-radius:25px;
	background-color: rgba(255, 255, 255, 0.85); 

	-webkit-transition: .3s linear;
-moz-transition: .3s linear;
-o-transition: .3s linear;
-ms-transition: .3s linear;
transition: .3s linear;
width:550px; 
padding:50px; 
margin:0 auto; 
margin-top:25px;
}
#wrongz span{ 
font-family:Verdana, Geneva, sans-serif; 
font-size:12px; } 
#wrongz span strong{ color:#F00; font-size:20px; 
margin-bottom:10px; 
font-weight:normal; }
#wrongz a {
	font-size: 11px;
	border: 1px solid #0bb3f1; 
	background-color:#0bb3f1; 
	color:#FFF; 
	min-width:108px;
	padding: 8px; 
}

#wrongz a:hover {
	border: 1px solid #afafaf; 
	background-color:#afafaf; 
	color:#fff;
	padding: 8px; 
	text-decoration:none;
}

#_stock_id_edit{ float:left; padding: 5px;} 
#_stock_id_sel{float:left;}

.rep_ie3 table{ width:auto;  } 
.rep_ie3 table a{ 
-webkit-transition: .2s linear; 
-moz-transition: .2s linear; 
-o-transition: .2s linear; 
-ms-transition: .2s linear; 
transition: .2s linear;
display:block; 
padding:4px; 
width:210px; 
border: 1px #eee solid; 
margin-top:4px;
 }  
 .rep_ie3 td{ 
padding:4px; 
width:auto; 
 } 
.rep_ie3 table a:hover{ 
 background-color:#0bb3f1; 
 color:#fff; 
 text-transform:none; 
 text-decoration:none;
 }

.report_area{
	background:#eee; 
	width:auto;} 
	.report_area select{ 
	margin-top:5px; 
	margin-bottom:5px;
	width:auto;}
	.report_area button{ 
	margin-bottom:5px;
	}
